<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div style="display:flex">
        <h3 class="ml-3">Khoa hoc cua toi</h3>
        {{#if deleteCount}}
        <a href="/me/trash/courses">Thùng rác{{deleteCount}}</a>
        {{/if}}
    </div>
    <div class=" w-25 form-check d-flex  align-items-center justify-content-around">
        <span>
            <input class="form-check-input" type="checkbox" value="" id="check-all">
            <label class="form-check-label" for="defaultCheck1">
                Chọn tất cả
            </label>
        </span>
        <select class="form-control form-control-sm w-50" name="action" required>
            <option value="">--Hành Động--</option>
            <option value="delete">Xóa</option>
        </select>
        <button type="submit" class="btn btn-primary  btn-check-all" disabled="disabled">Delete</button>
    </div>
    <div class="d-flex justify-content-center">
        <table class="table w-75 ">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">#</th>
                    <th scope="col">
                        Ten khoa hoc
                        {{{sortable 'name' _sort}}}
                    </th>
                    <th scope="col">trinh do

                    </th>
                    <th scope="col">thoi gian tao
                    </th>
                    <th scope="col">Them</th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td>

                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">

                    </td>
                    <td scope="row"> {{this._id}}</td>
                    <td>{{this.name}}</td>
                    <td>yeu</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href="/courses/{{this._id}}/edit" class="btn btn-outline-primary">Update</a>
                        <a href="" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal"
                            data-id="{{this._id}}">Delete</a>
                    </td>
                </tr>
                {{else}}
                <td colspan="5">
                    <a href="/courses/create">
                        <button type="button" class="btn btn-primary">Đăng khóa học</button>
                    </a>
                </td>

                {{/each}}
            </tbody>
        </table>
    </div>

</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Hủy</button>
                <button type="button" id="btn_delete_course" class="btn btn-secondary" data-dismiss="modal">Xóa
                    bỏ</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete form hidden --}}


<form method="POST" id="delete-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var coursesId
        var btnDeleteCourse = document.getElementById('btn_delete_course')
        var deleteForm = document.getElementById('delete-course-form')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var checkboxAll = $('#check-all')
        var checkAllSubmitBtn = $('.btn-check-all')
        var containerForm = document.forms['container-form']


        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            coursesId = button.data('id')
        })

        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + coursesId + '?_method=DELETE'
            deleteForm.submit()
        }
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked')
            courseItemCheckbox.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })


        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })

        containerForm.on('submit', function (e) {
            var isSubmitTable = !checkAllSubmitBtn.hasClass('disabled')
            if (!isSubmitTable) {
                e.preventDefault()
            }
        })
        function renderCheckAllSubmitBtn() {
            var checkCount = $('input[name="courseIds[]"]:checked').length
            checkCount ? checkAllSubmitBtn.attr('disabled', false) : checkAllSubmitBtn.attr('disabled', true)
        }

    })

</script>